<div class="container">
  <form [formGroup]="formGroup">
    <div class="form-container">
      <app-form-field
        *ngFor="let field of fields"
        [parentForm]="formGroup"
        [field]="field.id"
        [label]="field.label"
      ></app-form-field>
    </div>
  </form>
  <div class="button-container">
    <button mat-flat-button (click)="saveMovie()" color="primary">Save</button>
    <button
      *ngIf="!isNew"
      mat-stroked-button
      (click)="confirmDialog()"
      color="primary"
    >
      Delete
    </button>
    <button mat-button (click)="goBack()">Cancel</button>
  </div>
</div>
