<div class=" container">
  <form [formGroup]="formGroup">
    <div class="form-container">
      <app-form-field
        [parentForm]="formGroup"
        [field]="'name'"
        [label]="'Name'"
      ></app-form-field>
      <app-form-field
        [parentForm]="formGroup"
        [field]="'year'"
        [label]="'Year'"
      ></app-form-field>
      <app-form-field
        [parentForm]="formGroup"
        [field]="'director'"
        [label]="'Director'"
      ></app-form-field>
      <app-form-field
        [parentForm]="formGroup"
        [field]="'genre'"
        [label]="'Genre'"
      ></app-form-field>
      <app-form-field
        [parentForm]="formGroup"
        [field]="'description'"
        [label]="'Description'"
      ></app-form-field>
      <app-form-field
        [parentForm]="formGroup"
        [field]="'poster'"
        [label]="'Poster'"
      ></app-form-field>
    </div>
  </form>
  <div class="button-container">
    <button mat-flat-button (click)="onSubmit()" color="primary">Save</button>
    <button mat-stroked-button color="primary">Delete</button>
    <button mat-button (click)="goBack()">Cancel</button>
  </div>
</div>
