<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>
<div class="mat-elevation-z8 table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name" sticky>
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="year" sticky>
      <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.year }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="director" sticky>
      <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.director }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="genre" sticky>
      <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.genre }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action" sticky>
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-stroked-button (click)="goToPage(row)">
          Edit
        </button></mat-cell
      >
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <mat-row *matNoDataRow>
      <mat-cell colspan="4">
        No data matching the filter "{{ input.value }}"
      </mat-cell>
    </mat-row>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
